<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Dear Admin,
<p>A contact message has been received from <b><%= @name %></b> - <b><%= @email %></b> from the website with subject <b><%= @subject %></b></p>
<p>The message content is as below: </p>
<p>
  <%= @message %>
</p>

</body>
</html>