<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Retail/Wholesale Cloud</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Area-->
    <div class="about-us-area section_padding_130">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="about-us-content mb-100">
              <h6>Retail Cloud</h6>
              <h2>Public, Private or Hybrid</h2>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="about-us-thumbnail mb-30"><img src="<%= image_path("rc.jpg") %>" alt=""></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="about-us-content mb-100">
              <p><b>Deploy your virtual machine with us today to get;</b></p>
              <ul>
                <li>
                  <p>A Complete Out-of-the-Box Solution - Mjenzi Cloud delivers;</p>
                  <ul>
                    <li><p>A turnkey suite of enterprise cloud infrastructure quickly</p></li>
                    <li><p>Easily branded/brought to market with full control.</p></li>
                  </ul>
                </li>
                <br>
                <li>
                  <p>Extreme Performance/Resilience - You get:</p>
                  <ul>
                    <li><p>a fully redundant, self-healing cloud platform with markedly better performance/resilience vs. AWS, Azure, GCE.</p></li>
                  </ul>
                </li>
                <br>
                <li>
                  <p>Breakthrough Tech - Mjenzi Cloud is built by unique hyperconverged architecture that reduces DC footprint (power/hardware) 50%+ for sustainable cost advantages.</p>
                </li>
                <br>
                <li>
                  <p>Software-Defined Datacenter - virtualize everything, use IT-as-a-Service to gain infinite scalability hosted in our top-tier global datacenters or yours.</p>
                </li>
                <br>
                <li>
                  <p>Price/Performance: innovative/unique design delivers the best ratios on the market</p>
                </li>
                <br>
                <li>
                  <p>Flexibility:</p>
                  <ul>
                    <li><p>Decoupling of Memory / Storage/ Network components</p></li>
                    <li><p>Not locked down to fixed ratio plans</p></li>
                  </ul>
                </li>
                <br>
                <li><p>Pure Flash Storage</p></li>
                <br>
                <li><p>Private L2 Networks & separate public networks</p></li>
                <br>
                <li><p>Both Windows/Linux support</p></li>
                <br>
                <li><p>Self Healing, auto failover & reliability Infiniband!</p></li>
                <br>
                <li><p>Consistency of performance</p></li>
                <br>
                <li><p>Excellent Support customer success over $$ philosophy</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="border-top"></div>
    </div>
    </div>
    <%= render partial: 'shared/contact_us_today'%>