
    <!-- Message Now Area-->
    <section class="contact-area section_padding_130_80">
    <% flash.each do |name, msg| %>
      <div class='alert alert-success' style="text-align: center; border-radius: 0px;">
       <%= msg %>
      </div>
    <% end %>  
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="contact-content mb-50">
              <h6>Contact Us</h6>
              <h3>Contact us today to try our platform!</h3>
              <p>With a unique combination of features and functionality, and price/performance ratio unmatched by any other IaaS offering available, our platform can put your organization on an accelerated path to cloud success.</p>
              <p>Contact us below or via <a href="mailto:cloud@mjenzi.com">cloud@mjenzi.com</a> to deploy your Private, Public, and Hybrid cloud infrastructure or set up your backups with us today and reap the benefits!</p>
              
              <h4>Public Cloud Points of Presense </h4>
              <p>Australia - Equinix Sydney SY2 & SY3, Melbourne ME1</p> 
              <p>North America - San Jose SV1, Santa Clara SV2, Ashburn Virginia DC1</p>

              <h4>Email</h4>
              <p><a href="mailto:cloud@mjenzi.com">cloud@mjenzi.com</a></p>

              <h4>Phone</h4>
              <p><a href="tel:+61405342017">(61) 405 342 017</a></p>
            </div>
          </div>
          <%=render partial: 'contact_form'%>
        </div>
      </div>
    </section>
    <!-- CTA Area-->
    <div class="cta-area section_padding_130_80">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-sm-8">
            <div class="cta-content mb-50">
              <h3 class="mb-0">Have questions, or want to start your cloud journey with us?</h3>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-sm-right"><a class="btn apland-btn btn-4 mb-50" href="#">Let's Talk</a></div>
        </div>
      </div>
    </div>