<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Let's talk about everyting</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Message Now Area-->
    <section class="contact-area section_padding_130_80">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="contact-content mb-50">
              <h6>Contact Us</h6>
              <h2>We'd love to hear from you</h2>
              <p>Fill out a form highlighting a few details about your project. We will get back to you shortly to set up an initial consultation.</p>
            </div>
          </div>
          <%=render partial: 'contact_form'%>
        </div>
      </div>
    </section>
    <!-- CTA Area-->
    <div class="cta-area section_padding_130_80">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-sm-8">
            <div class="cta-content mb-50">
              <h3 class="mb-0">Have questions, or want to talk about working with us?</h3>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-sm-right"><a class="btn apland-btn btn-4 mb-50" href="#">Let's talk Us</a></div>
        </div>
      </div>
    </div>