<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Infrastuctuer-as-a-Service Cloud Services</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Area-->
    <div class="about-us-area section_padding_130">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="about-us-content mb-100">
              <h2>Infrastuctuer-as-a-Service Cloud Services</h2>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="about-us-thumbnail mb-30"><img src="<%= image_path("02.png") %>" alt=""></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="about-us-content mb-100">
              <p><b>Mjenzi is well placed to assist our customers deliver enterprise-grade cloud solutions. Embrace a transformative cloud strategy with us in a market landscape that is increasingly embracing the 4th Revolution that is the digital transformation.</b></p>
              <ul>
                <li>
                  <p>Mjenzi Cloud is an end-to-end premium hosted cloud platform that brings virtual compute, storage and networking infrastructure within reach. Our Cloud is built on groundbreaking hyperconverged architecture using supercomputer components to ensure web-scale power of a Facebook-like cluster that delivers enterprise-grade Public, Private, and Hybrid cloud solutions for both IT departments but also cloud resellers.</p>
                </li>
                <br>
                <li>
                  <p>Mjenzi Cloud offers industry leading margins off AWS & Azure pricing and further access to higher margins through contract length, minimum usage, and upfront payment discounts.</p>
                </li>
                <br>
                <li>
                  <p>We provide the followind Cloud solutions:</p>
                  <ul>
                    <li><p>Public Cloud.</p></li>
                    <li><p>Private Cloud.</p></li>
                    <li><p>Hybrid Cloud.</p></li>
                    <li><p>Wholesale Cloud Resale.</p></li>
                  </ul>
                </li>
                <br>
                <li>
                  <p>Mjenzi Cloud can also provide the followind Cloud Strategy and Advisory solutions:</p>
                  <ul>
                    <li><p>Cloud adoption strategy.</p></li>
                    <li><p>Digitisation and SaaS advisory. SaaS provides companies a cloud based software application model.</p></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="border-top"></div>
    </div>
    </div>
    <!-- CTA Area-->
    <div class="cta-area section_padding_130_80">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-sm-8">
            <div class="cta-content mb-50">
              <h3 class="mb-0">Have questions, or want to talk about working with us?</h3>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-sm-right"><a class="btn apland-btn btn-4 mb-50" href="#">Let's talk Us</a></div>
        </div>
      </div>
    </div>