<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Managed Cloud Solutions</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FAQ Area-->
    <section class="faq_area section_padding_130_80 bg-white">
      <div class="container">
        <div class="row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <!-- Section Heading-->
            <div class="section_heading text-left wow fadeInUp" data-wow-delay="0.2s">
              <h6>Mjenzi Cloud provides the following managed cloud services in your cloud journey;</h6>
              <div class="line ml-0"></div>
            </div>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a id="default_open" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h4><b>Backup-as-a-Service</b></h4>
                    </a>
                </h4>
              </div>
                <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <h5>A simple file and application backup system for your particular use cases</h5>
                  </div>
                </div>
            </div>

            <br>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      <i class="more-less glyphicon glyphicon-plus"></i>
                      <h4><b>Voice Solutions</b></h4>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <h5>We partner with industry’s best to bring you scalable 3CX PBX right within our cloud</h5>
                </div>
              </div>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h4><b>Networking Solutions</b></h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse show" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <h5>Talk to us about your connectivity needs and chances are we can provide you a solution to connect your cloud to the world.</h5>
                  </div>
                </div>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h4><b>Bare-metal-as-a-Service</b></h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse show" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                   <h5>Talk to us today about your larger dedicated cloud requirements and we will work to fit your size.</h5>
                </div>
              </div>
            </div>

            <br>

             <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseFive">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h4><b>VMware Cloud Solutions</b></h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseSix" class="panel-collapse show" role="tabpanel" aria-labelledby="headingSix">
                  <div class="panel-body">
                    <h5>Utilise our Bare Metal infrastructure to deploy your VMware private, public or hybrid cloud solutions.</h5>
                </div>
              </div>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h4><b>Desktop-as-a-Service</b></h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse show" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    <h5>Work from anywhere by deploying Virtual Desktop Infrastructure from NetConnect right within Mjenzi Cloud. Get a competitive secure cloud desktop solution for your browser or for smart devices to enable you to remote-desk from anywhere.</h5>
                  </div>
                </div>
            </div>
          </div><!-- panel-group -->
        </div>
      </div>
    </section>
    <%= render partial: 'shared/contact_us_today'%>