<!-- Breadcrumb Area-->
<div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/other_cloud.jpg") %>');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 col-xl-6">
        <div class="breadcrumb-content text-center">
          <h2>Other Cloud Services</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FAQ Area-->
<section class="faq_area section_padding_130_80 bg-white">
  <div class="container">
    <div class="row">
      <!-- Single FAQ Area-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single_faq_area mb-50">
          <h6>Backup-as-a-Service</h6>
          <p>A simple file and application backup system for your particular use cases</p>
        </div>
      </div>
      <!-- Single FAQ Area-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single_faq_area mb-50">
          <h6>Voice Solutions</h6>
          <p>We partner with industry’s best to bring you scalable 3CX PBX right within our cloud</p>
        </div>
      </div>
      <!-- Single FAQ Area-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single_faq_area mb-50">
          <h6>Networking Solutions</h6>
          <p>Talk to us about your connectivity needs and chances are we can provide you a solution to connect your cloud to the world.</p>
        </div>
      </div>
      <!-- Single FAQ Area-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single_faq_area mb-50">
          <h6>Bare-metal-as-a-Service</h6>
          <p>Talk to us today about your larger dedicated cloud requirements and we will work to fit your size.</p>
        </div>
      </div>
      <!-- Single FAQ Area-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single_faq_area mb-50">
          <h6>VMware Cloud Solutions</h6>
          <p>Utilise our Bare Metal infrastructure to deploy your VMware private, public or hybrid cloud solutions.</p>
        </div>
      </div>
      <!-- Single FAQ Area-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single_faq_area mb-50">
          <h6>Desktop-as-a-Service</h6>
          <p>Work from anywhere by deploying Virtual Desktop Infrastructure from NetConnect right within Mjenzi Cloud. Get a competitive secure cloud desktop solution for your browser or for smart devices to enable you to remote-desk from anywhere.</p>
        </div>
      </div>
      <!-- Single FAQ Area-->
    </div>
  </div>
</section>
<%= render partial: 'shared/contact_us_today'%>