<!-- Breadcrumb Area-->

<!-- Service Area-->
<div class="service-area section_padding_130_80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-12">
        <div class="section_heading">              
          <h2>Retail Cloud - Public, Private or Hybrid. 
            <br>
          Deploy your virtual machine with us.</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="section_heading">

          <h3>Cloud Platform <span>Features.</span></h3>
          <div class="line ml-0"></div>
        </div>
      </div>
      <div class="col-12 col-lg-12">
        <div class="row">
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-desktop"></i>
              <a class="post-title" href="#"><h4>A Complete Out-of-the-Box Solution</h4></a>
              <p>A turnkey suite of enterprise cloud infrastructure quickly. Easily branded/brought to market with full control.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-cloud"></i>
              <a class="post-title" href="#"><h4>Extreme Performance/Resilience</h4></a>
              <p>A fully redundant, self-healing cloud platform with markedly better performance/resilience vs. AWS, Azure, GCE.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-archive"></i>
              <a class="post-title" href="#"><h4>Breakthrough Tech</h4></a>
              <p>Mjenzi Cloud is built by unique hyperconverged architecture that reduces DC footprint (power/hardware) 50%+ for sustainable cost advantages.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-database"></i>
              <a class="post-title" href="#"><h4>Software-Defined Datacenter</h4></a>
              <p>Virtualize everything, use IT-as-a-Service to gain infinite scalability hosted in our top-tier global datacenters or yours.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-usd"></i>
              <a class="post-title" href="#"><h4>Price/Performance</h4></a>
              <p>Innovative/unique design delivers the best ratios on the market.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-bullhorn"></i>
              <a class="post-title" href="#"><h4>Flexibility</h4></a>
              <p>Decoupling of Memory / Storage/ Network components. Not locked down to fixed ratio plans.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-bolt"></i>
              <a class="post-title" href="#"><h4>Pure Flash Storage</h4></a>
              <p>Private L2 Networks & separate public networks. Both Windows/Linux support, self Healing, auto failover & reliability Infiniband!</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-bar-chart"></i>
              <a class="post-title" href="#"><h4>Consistency of performance</h4></a>
              <p>Excellent Support customer success over $$ philosophy.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              <h3>Pricing<span>.</span></h3>
              <div class="line ml-0"></div>
              <br>
              <div class="table-responsive">
                <table>
                  <tr>
                    <th style="visibility:hidden;"></th>
                    <th>MINIMAL</th>
                    <th>MEDIUM</th>
                    <th>LARGE</th>
                    <th>ENTERPRISE</th>
                  </tr>
                  <tr>
                    <th>DATA STORED</th> 
                    <td>0 - 100 GB</td>
                    <td>100 - 500 GB</td>
                    <td>500 - 1 TB</td>
                    <td>1 TB ></td>
                  </tr>
                  <tr>
                    <th>NETWORK USAGE</th> 
                    <td colspan="4" style="text-align: center;background-color: #f2f2f2">Free downloads under fair use *</td>
                  </tr>
                  <tr>
                    <th>OPERATIONS</th> 
                    <td colspan="4" style="text-align: center;background-color: #f2f2f2">Unlimited API requests</td>
                  </tr>
                  <tr>
                    <th>DEVICE CHARGE</th>  
                    <td colspan="4" style="text-align: center;background-color: #f2f2f2">US$5 flat fee per unique device **</td>
                  </tr>
                  <tr>
                    <th style="padding-left: 4px;padding-right: 4px;">DATA STORAGE COST PER MONTH</th>  
                    <td>US$4</td>
                    <td>US$12</td>
                    <td>US$20</td>
                    <td>US$23 Per TB</td>
                  </tr>
                  <tr>
                    <th>TOTAL COST FOR 1 DEVICE PER MONTH</th>  
                    <td style="background-color: #070a57;color: white;">US$9</td>
                    <td style="background-color: #070a57;color: white;">US$17</td>
                    <td style="background-color: #070a57;color: white;">US$25</td>
                    <td style="background-color: #070a57;color: white;">US$28 Per TB</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<%= render partial: 'shared/contact_us_today'%>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }

  tr:hover {background-color: #f5f5f5;}

  th {
    background-color: #070a57;
    color: white;
    padding: 18px;
    border-right-style: solid;
  }
</style>