<!-- Breadcrumb Area-->

<!-- Service Area-->
<div class="service-area section_padding_130_80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-12">
        <div class="section_heading">              
          <h2>Mjenzi Cloud Retail/Wholesale Cloud 
            <br>
          Deploy your virtual machine with us today.</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="section_heading">

          <h3>Cloud Platform <span>Defining Features.</span></h3>
          <div class="line ml-0"></div>
        </div>
      </div>
      <div class="col-12 col-lg-12">
        <div class="row">
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-desktop"></i>
              <a class="post-title" href="#"><h4>A Complete Out-of-the-Box Enterprise Cloud Solution</h4></a>
              <p>An enterprise-grade turnkey suite of enterprise cloud that allows you to manage your cloud infrastructure efficiently, securely, flexibly and cost-effectively.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-cloud"></i>
              <a class="post-title" href="#"><h4>Extreme Performance/Resilience</h4></a>
              <p>A fully redundant, self-healing cloud platform with markedly better performance/resilience vs. AWS, Azure, GCE. Very easy to administer platform</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-archive"></i>
              <a class="post-title" href="#"><h4>Breakthrough Tech</h4></a>
              <p>Mjenzi Cloud is built by unique hyperconverged architecture that reduces DC footprint (power/hardware) by 50%+ for sustainable cost advantages.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-database"></i>
              <a class="post-title" href="#"><h4>Software-Defined Datacenter</h4></a>
              <p>Virtualize everything, use IT-as-a-Service to gain infinite scalability hosted in our top-tier global datacenters or yours.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-usd"></i>
              <a class="post-title" href="#"><h4>Price/Performance</h4></a>
              <p>Innovative/unique design delivers a highly competitive cloud at the best ratios on the market.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-bullhorn"></i>
              <a class="post-title" href="#"><h4>Highly Flexible Cloud</h4></a>
              <p>Decoupling of Memory / Storage/ Network components allows you to design the cloud that fits you. You are not locked down to fixed ratio plans and you scale on-demand.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-bolt"></i>
              <a class="post-title" href="#"><h4>Pure Flash Storage</h4></a>
              <p>Private L2 Networks & separate public networks. Both Windows/Linux support, self Healing, auto failover & reliability Infiniband!</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-bar-chart"></i>
              <a class="post-title" href="#"><h4>Consistency of performance</h4></a>
              <p>Excellent support &amp; customer success over $$ philosophy. We are always available to support our clients simplify Cloud.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-bolt"></i>
              <a class="post-title" href="#"><h4>Retail or Wholesale Public/Private Cloud</h4></a>
              <p>We enable you to resell our cloud platform or build a private cloud for your organisation at unbeatable margins.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              <h3>Mjenzi Cloud Platform Sample Virtual Machine Estimates<span>.</span></h3>
              <div class="line ml-0"></div>
              <br>
              <div class="table-responsive">
                <table>
                  <tr>
                    <th style="visibility:hidden;"></th>
                    <th>MINIMAL US East</th>
                    <th>MEDIUM Australia</th>
                    <th>LARGE US West</th>
                    <th>ENTERPRISE US East</th>
                  </tr>
                  <tr>
                    <th>BLOCK STORAGE</th> 
                    <td>30GB HDD</td>
                    <td>50GB HDD</td>
                    <td>250GB SDD</td>
                    <td>1TB HDD</td>
                  </tr>
                  <tr>
                  <th>COMPUTE</th> 
                    <td>2GB Standard RAM</td>
                    <td>4GB High Memory RAM</td>
                    <td>8GB High Memory RAM</td>
                    <td>16GB High CPU RAM</td>
                  </tr>
                  <tr>
                    <th>NETWORKING</th> 
                    <td>30GB 1IP</td>
                    <td>50GB 1IP</td>
                    <td>250GB 1IP</td>
                    <td>1TB 1IP</td>
                  </tr>
                  <tr>
                    <th>OPERATING SYSTEMS</th>  
                    <td colspan="4" style="text-align: center;background-color: #f2f2f2">Various Free Linux Images &amp; Windows Server Licences At Cost</td>
                  </tr>
                  <tr>
                    <th style="padding-left: 4px;padding-right: 4px;">MONTHLY CLOUD PLATFORM ESTIMATE</th>  
                    <td>US$28</td>
                    <td>US$45</td>
                    <td>US$165</td>
                    <td>US$510</td>
                  </tr>
                  <tr>
                    <th>ANNUAL CLOUD PLATFORM ESTIMATE</th>  
                    <td style="background-color: #070a57;color: white;">US$336</td>
                    <td style="background-color: #070a57;color: white;">US$540</td>
                    <td style="background-color: #070a57;color: white;">US$1,980</td>
                    <td style="background-color: #070a57;color: white;">US$6,120</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<%= render partial: 'shared/contact_us_today'%>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }

  tr:hover {background-color: #f5f5f5;}

  th {
    background-color: #070a57;
    color: white;
    padding: 18px;
    border-right-style: solid;
  }
</style>