<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Web Application Development</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Area-->
    <div class="about-us-area section_padding_130">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="about-us-content mb-100">
              <h6>Ruby on Rails</h6>
              <h2>Web Application Development</h2>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="about-us-thumbnail mb-30"><img src="<%= image_path("02.png") %>" alt=""></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="about-us-content mb-100">
              <p><b>Mjenzi is a software development company that follows an agile delivery method.</b></p>
              <ul>
                <li>
                  <p>As described by the <a href="http://www.gartner.com/it-glossary/bimodal/">Gartner's bimodal delivery method</a>, Mjenzi operates as a Mode 2 company focusing on exploratory and experimental development to solve new challenges in an iterative, test-driven approach which leads to the adoption of a minimum viable product (MVP)</p>
                </li>
                <br>
                <li>
                  <p>We leverage the <a href="http://rubyonrails.org/">Ruby on Rails</a> web development framework to provide web application development services for companies, small or large. Ruby on Rails is our tool of choice as it facilitates fast and scalable development that allows businesses to cut iterative development costs whilst still getting a quality outcome for initial product launches.</p>
                </li>
                <br>
                <li>
                  <p>We place a particular focus on start-up ventures as see ourselves as the start-up for start-ups. We are passionate about helping young businesses develop robust MVPs in a fast and efficient manner. Mjenzi provides start-ups as well as other established businesses the much-needed speed and agility necessary in getting MVPs to market and allows these thriving businesses to focus their efforts on their core businesses.</p>
                </li>
                <br>
                <li>
                  <p>We partner with businesses to translate their desired journeys into high quality, thoroughly tested, easy to scale web applications.</p>
                </li>
                <br>
                <li>
                  <p>Mjenzi will help your company with:</p>
                  <ul>
                    <li><p>Web applications research.</p></li>
                    <li><p>Web applications design and development utilising the Ruby and Rails framework and supporting technologies.</p></li>
                    <li><p>Web integration services.</p></li>
                    <li><p>E-commerce development on Spree Commerce.</p></li>
                    <li><p>Mobile payment integration services.</p></li>
                    <li><p>Development of RESTful APIs.</p></li>
                    <li><p>Enterprise applications such as content management systems.</p></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="border-top"></div>
    </div>
    </div>
    <%= render partial: 'shared/contact_us_today'%>