
    <!-- Preloader-->
    <div id="preloader">
      <div class="apland-load"></div>
    </div>
    <!-- Header Area-->
    <header class="header_area">
      <div class="main_header_area">
        <div class="container">
          <div class="classy-nav-container breakpoint-off">
            <nav class="classy-navbar justify-content-between" id="aplandNav">
              <!-- Logo--><a class="nav-brand" href="index.html"><img src="<%= image_path("apland/core-img/logo.png") %>" alt=""></a>
              <!-- Navbar Toggler-->
              <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span></span></div>
              <!-- Menu-->
              <div class="classy-menu">
                <!-- Close Button-->
                <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav-->
                <div class="classynav">
                  <ul id="corenav">
                    <li><a href="#home">Home</a>
                      <ul class="dropdown">
                        <li><a href="apland-barisal.html">Apland - Barisal</a></li>
                        <li><a href="apland-chattagram.html">Apland - Chattagram</a></li>
                        <li><a href="apland-dhaka.html">Apland - Dhaka</a></li>
                        <li><a href="apland-khulna.html">Apland - Khulna</a></li>
                        <li><a href="apland-mymensingh.html">Apland - Mymensingh</a></li>
                        <li><a href="apland-rajshahi.html">Apland - Rajshahi</a></li>
                        <li><a href="apland-rangpur.html">Apland - Rangpur</a></li>
                        <li><a href="apland-sylhet.html">Apland - Sylhet</a></li>
                      </ul>
                    </li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#">Pages</a>
                      <div class="megamenu">
                        <ul class="single-mega cn-col-4">
                          <li class="title">Home Variations</li>
                          <li><a href="apland-barisal.html">Apland - Barisal</a></li>
                          <li><a href="apland-chattagram.html">Apland - Chattagram</a></li>
                          <li><a href="apland-dhaka.html">Apland - Dhaka</a></li>
                          <li><a href="apland-khulna.html">Apland - Khulna</a></li>
                          <li><a href="apland-mymensingh.html">Apland - Mymensingh</a></li>
                          <li><a href="apland-rajshahi.html">Apland - Rajshahi</a></li>
                          <li><a href="apland-rangpur.html">Apland - Rangpur</a></li>
                          <li><a href="apland-sylhet.html">Apland - Sylhet</a></li>
                        </ul>
                        <ul class="single-mega cn-col-4">
                          <li class="title">Inner Pages</li>
                          <li><a href="about-us.html">About Us</a></li>
                          <li><a href="pricing-plan.html">Pricing Plan</a></li>
                          <li><a href="client-reviews.html">Client Reviews</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li><a href="contact.html">Contact</a></li>
                          <li><a href="register.html">Register</a></li>
                          <li><a href="login.html">Login</a></li>
                          <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                        <ul class="single-mega cn-col-4">
                          <li class="title">Inner Pages</li>
                          <li><a href="forget-password.html">Forget Password</a></li>
                          <li><a href="newsletter.html">Newsletter</a></li>
                          <li><a href="download.html">Download</a></li>
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="404.html">Error 404</a></li>
                          <li><a href="thank-you.html">Thank You</a></li>
                          <li><a href="subscribe-confirmation.html">Subscribe Confirmation</a></li>
                          <li><a href="#">More Coming Soon</a></li>
                        </ul>
                        <ul class="single-mega cn-col-4">
                          <li class="title">Blog Pages</li>
                          <li><a href="blog-card.html">Blog Card</a></li>
                          <li><a href="blog-card-sidebar.html">Blog Card Sidebar</a></li>
                          <li><a href="blog-full.html">Blog Full</a></li>
                          <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                          <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                          <li><a href="blog-details-full.html">Blog Details Full</a></li>
                          <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                          <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                        </ul>
                      </div>
                    </li>
                    <li><a href="#download">Download</a></li>
                    <li><a href="#">Blog</a>
                      <ul class="dropdown">
                        <li><a href="blog-card.html">Blog Card</a></li>
                        <li><a href="blog-card-sidebar.html">Blog Card Sidebar</a></li>
                        <li><a href="blog-full.html">Blog Full</a></li>
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-details-full.html">Blog Details Full</a></li>
                        <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                        <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                      </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                  <!-- Login Button-->
                  <div class="login-btn-area ml-5 mt-5 mt-lg-0"><a class="btn apland-btn" href="#">Get Started</a></div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>